/* General Styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Section Title Styling */
.section-title {
    text-align: center;
    margin-bottom: 40px;
  
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
    font-weight: 700;
}

.section-title p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 700px;
}

/* Class Item Styling */
.class-item {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
}

.class-item:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.class-img img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    transition: transform 0.3s ease;
}

.class-item:hover .class-img img {
    transform: scale(1.05);
}

.class-content {
    padding: 20px;
}

.class-content .title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class-content .title a {
    color: inherit;
    text-decoration: none;
}

.class-content .title a:hover {
    color: #007bff;
}

.class-content p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.6;
}

/* Schedule Styling */
.schedule {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e9ecef;
}

.schedule li {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.schedule .class-size {
    color: #ff0000;
}

.view-class a {
    text-transform: uppercase;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 50px;
    background:  linear-gradient(45deg, orange, red);; /* Gradient color */
    color: #fff;
    text-decoration: none;
    border: none;
    transition: background 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.view-class a:hover {
    background:  linear-gradient(45deg, rgb(190, 124, 0), rgb(235, 30, 30));; /* Reverse gradient on hover */
    transform: scale(1.05);
    text-decoration: none;
    color: #fff;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .section-title h2 {
        font-size: 2rem;
    }
    .section-title p {
        font-size: 0.95rem;
    }
    .class-content .title {
        font-size: 18px;
    }
    .schedule li {
        font-size: 13px;
    }
}

@media (max-width: 576px) {
    .section-title h2 {
        font-size: 1.8rem;
    }
    .section-title p {
        font-size: 0.85rem;
    }
    .class-content .title {
        font-size: 16px;
    }
    .schedule li {
        font-size: 12px;
    }
}
