/* Teacher Details Section */
.teacher-details-area {
    background-color: #f9f9f9;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .teacher-img img {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .teacher-single-info h3 {
    font-size: 50px;
    font-weight: bold;
    color: #00394f;
  }
  
  .teacher-single-info p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  .teacher-info-list {
    list-style: none;
    padding: 0;
  }
  
  .teacher-info-list li {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .list-name {
    font-weight: bold;
    color: #1bcf5c;
  }
  
  .list-attr {
    color: #555;
  }
  
  .social-links a {
    margin-right: 15px;
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.3s ease;
  }
  
  .social-links a:hover {
    background-color: #1bcf5c;
    color: #fff;
  }
  
  .social-links a.facebook {
    background-color: #3b5998;
  }
  
  .social-links a.twitter {
    background-color: #00acee;
  }
  
  .social-links a.instagram {
    background-color: #c13584;
  }
  
  .social-links a.linkedin {
    background-color: #0077b5;
  }
  
  .teacher-content h4 {
    font-size: 40px;
    font-weight: bold;
    color: #00394f;;
    margin-bottom: 20px;
  }
  
  .teacher-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
  }
  
  .teacher-content img {
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .teacher-details-area {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    .teacher-img img {
      max-width: 100%;
    }
  
    .teacher-single-info h3 {
      font-size: 24px;
      color:#00394f;
    }
  
    .teacher-info-list {
      font-size: 14px;
    }
  
    .teacher-content h4 {
      font-size: 22px;
      margin-top: 20px;
      color: #00394f;
    }
  }
  